@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;

  --fc-border-color: #35373b;

  --fc-page-bg-color: #1e1e1e;
  /* --fc-event-selected-overlay-color: transparent; */
  /* --fc-today-bg-color: transparent; */
  /* --fc-event-border-color: #000; */
}

td.parent-line {
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: 0.75rem;
    width: 1px;
    height: 101%;
    background-color: white;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.75rem;
    width: 5px;
    height: 1px;
    background-color: white;
    pointer-events: none;
  }
}

tr.subject-row + tr td.parent-line::before {
  top: 0;
  height: 51%;
}
